
        
        
                                               <div aria-label="Jetstream2 resources and social media channels" class="section collapsed bg-mahogany dark belt" role="complementary">
            <div class="row pad">
                <h2 class="visually-hidden">Jetstream2 resources and social media channels</h2>                                                                                <div class="belt-nav two-thirds">
                            <ul>
                                                                                                             <li><a href="https://docs.jetstream-cloud.org/">Documentation</a></li>
                                                                                                                                                 <li><a href="https://jetstream2.exosphere.app/">Jetstream2 Login</a></li>
                                                                                                                                                    				</ul>
            			</div>
                                                                                                <div class="one-third invert border">
                                                <ul class="social">
                                
                                                                    <li><a aria-label="Twitter" class="icon-twitter" href="https://www.twitter.com/jetstream_cloud">Twitter</a></li>
                                                                
                                                                
                                                                
                                                                                                                                            <li><a aria-label="YouTube" class="icon-youtube" href="https://www.youtube.com/playlist?list=PLqi-7yMgvZy-0Sy94uyOm67MhvN6xgxZ3">YouTube</a></li>
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                            </ul>
                        </div>
                            </div>
        </div>
               
                    
            
            
            
                                   <system-data-structure><div aria-label="Acknowledgements" class="section collapsed bg-mahogany bg-dark skirt" role="complementary" style="padding-top: 0;">
<div class="row pad">
<h2 class="show-for-sr">Acknowledgements</h2>
<div class="skirt-nav"></div>
<div class="grid thirds">
<div class="grid-item">
<div class="column-demo">This material is based upon work supported by the National Science Foundation under Grant 2005506. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.<br><br> <a class="button" href="/research/index.html#cite-jetstream">Get citation information</a>
</div>
</div>
<div class="grid-item">
<div class="column-demo">
<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2005506" rel="noopener" target="_blank"><img alt="National Science Foundation" src="https://jetstream-cloud.org/images/logos/nsf-logo-v2.png" style="display: block; margin-left: auto; margin-right: auto;"></a><br><img alt="Access Advancing Foundation Logo" height="31" src="https://jetstream-cloud.org/images/access-logo-footer-white.png" style="display: block; margin-left: auto; margin-right: auto;" width="220">
</div>
</div>
</div>
</div>
</div></system-data-structure>
               
            
        
            
            
                                  <footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
    <div class="row pad">
        <p class="signature">
            <a href="https://www.iu.edu/index.html" class="signature-link signature-img"><img src="//assets.iu.edu/brand/3.3.x/iu-sig-formal.svg" alt="Indiana University"/></a>
        </p>

        <p class="copyright">
            <span class="line-break">
                <a href="https://accessibility.iu.edu/assistance/index.html" id="accessibility-link" title="Having trouble accessing this web page content? Please visit this page for assistance.">Accessibility</a> | <a href="https://www.iu.edu/college-scorecard.html" id="college-scorecard-link">College Scorecard</a> | <a href="https://iu.edu/open-to-all.html" id="open-to-all-link">Open to All</a> | <a href="/privacy/" id="privacy-policy-link">Privacy Notice</a>
            </span>
            <span class="hide-on-mobile"> | </span>
            <a href="https://www.iu.edu/copyright/index.html">Copyright</a> &#169; 2025 <span class="line-break-small">The Trustees of <a href="https://www.iu.edu/index.html" itemprop="url">
                    <span itemprop="name">Indiana University</span></a>
            </span>
        </p>
    </div>
</footer>       
                       
        
                        	
		    
                        
            
                                                       <!-- Include Javascript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
<script src="https://assets.iu.edu/web/3.3.x/js/iu-framework.min.js"></script>
<script src="https://assets.iu.edu/search/3.3.x/search.min.js"></script>
<script src="https://jetstream-cloud.org/_assets/js/site.js"></script>
               
                            
        
    
    
    </body></html>
